:root{
    --brand-1:#4C6EF5;
    --brand-2:#364FC7;
    --gray-1:#191C1F;
    --gray-2:#212529;
    --gray-3:#343A40;
    --gray-4:#ADB5BD;
    --gray-5:#CED4DA;
    --gray-6:#EDF2FF;
    --gray-7:#F8F9FA;

    --title1: 600 3.25rem / 140% 'Inter', sans-serif;
    --title2: 600 2.5rem / 160% 'Inter', sans-serif;
    --title3: 600 2rem / 160% 'Inter', sans-serif;
    
    --text1: 400 1.25rem / 150% 'Inter', sans-serif;
    --text2: 400 1.125rem / 150% 'Inter', sans-serif;
    --text3: 400 1rem / 150% 'Inter', sans-serif;
    --text4: 600 1rem / 150% 'Inter', sans-serif;
}