@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    max-width: 100%;
    margin-inline: auto;
    font-family: 'Inter', sans-serif;
}
header{
    width: 100%;
    padding: 1rem;
    background-color: var(--gray-1);
    border-bottom: 2px solid var(--brand-1);
    position: sticky;
    top: 0;
    z-index: 1000;
}


.header-content {
    max-width: 1256px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    max-width: 200px;
    height: 20px;
}
header button {
    width: 100%;
    height: 60px;
    border: 1px solid var(--gray-7);
    background-color: var(--gray-1);
    color: var(--gray-7);
    cursor: pointer;
    font: var(--text4);
}
header button:hover {
    background-color: var(--gray-2);
}

main{
    width: 100%;
    background-color: var(--gray-2);
}
.section-banner{
    background-color: var(--gray-2);
    max-width: 1256px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
}
.section-banner div {
    display: flex;
    flex-direction: column;
    gap: 44px;
}
  
.section-banner h1{
    font: var(--title1);
    text-align: center;
    color: var(--gray-6);
}
.section-banner span{
    color: var(--brand-1);
}
.section-banner p{
    font: var(--text1);
    color: var(--gray-4);
    text-align: center;
}
.section-banner button{
    width: 140px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--brand-1);
    border: 1px solid var(--brand-1);
    color: var(--gray-7);
    font: var(--text4);
}
.section-banner button:hover{
    background-color: var(--brand-2);
}

.section-about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-1);
    width: 100%;
    height: auto;
}
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1256px;
    padding: 20px;
}
.div-left, .div-leftComments{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.div-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.section-about h2{
    font: var(--title2);
    color: var(--gray-6);
}
.section-about p{
    font: var(--text1);
    color: var(--gray-5);
}

.section-faq{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-2);
    width: 100%;
}
.faq-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 1256px;
    gap: 20px;
}
.faq-left {
    position: sticky;
    top: 20px;
}
.section-faq h2{
    font: var(--title2);
    color: var(--gray-6);
    margin-top: 100px;
    margin-bottom: 30px;
}
.section-faq p{
    font: var(--text1);
    color: var(--gray-4);
    margin-bottom: 30px;
}
.section-faq button{
    background-color: var(--brand-1);
    width: 270px;
    height: 60px;
    border: 1px solid var(--brand-1);
    color: var(--gray-7);
    font: var(--text4);
    margin-top: 30px;
    cursor: pointer;
}
.section-faq button:hover{
    background-color: var(--brand-2);
}
li{
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 100px;
}
.div-right h3{
    font: var(--title3);
    color: var(--gray-6);
    margin-bottom: 10px;
}
.div-right p {
    margin-bottom: 10px;
    text-align: justify;
}

.section-comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-2);
    width: 100%;
}
.comments-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1256px;
    gap: 20px;
}
.comments-right {
    position: sticky;
    top: 20px;
    
}
.div-left ul {
    list-style: none;
    padding: 0;
}
.div-left li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.comment-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 45%;
    text-align: left;
}
.comment-text {
    flex: 1;
    text-align: justify;
    margin-top: 10px;
    margin-left: 20px;
    font: var(--text2);
    color: var(--gray-5);
}
.card-comments{
    background-color: var(--brand-1);
    text-align: left;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 100px;
    max-width: 500px;
    height: auto;
    padding: 50px;
}
.comment-info h3{
    font: var(--title3);
    color: var(--gray-6);
}
.comment-info p{
    font: var(--text3);
    color: var(--gray-4);
}
.card-comments h2{
    font: var(--title2);
    color: var(--gray-7);
    margin: 20px 0px;
}
.card-comments p{
    font: var(--text1);
    color: var(--gray-7);
    text-align: justify;
    margin: 20px 0px;
}

footer{
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: var(--gray-1);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    width: 500px;
    background-color: var(--gray-2);
    border: 2px solid var(--brand-1);
    padding: 2rem;
    z-index: 1001;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}
dialog h2{
    font: var(--title3);
    color: var(--gray-7);
    margin-bottom: 2rem;
}
dialog p{
    font: var(--text3);
    color: var(--gray-5);
    margin-bottom: 2rem;
}
dialog input{
    font: var(--text1);
    color: var(--gray-1);
    background-color: var(--gray-1);
    border: none;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
dialog input:valid{
    background-color: var(--gray-3);
}
dialog input:focus{
    border: 1px solid var(--brand-1);
    outline: none;
}

.botao-turma{
    background-color: var(--brand-1);
    color: var(--gray-7);
    font: var(--text4);
    cursor: pointer;
    width: 100%;
    height: 3rem;
    border: 1px solid var(--brand-1);
    
}
.botao-turma:hover{
    background-color: var(--brand-2);
}

.close {
    background-color: var(--gray-3);
    border: none;
    color: var(--gray-4);
    float: right;
    font-size: 28px;
    cursor: pointer;
    padding: 0px 10px;
    
}

.comment-container{
    display: flex;
    align-items: flex-start;
}
@media (max-width: 1024px){
    .comment-info {
        flex-direction: row;
        align-items: center;
    }
    .comment-info h3 {
        margin-right: 20px;
        margin-left: 20px;
    }
    .comment-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .section-about .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section-about .div-left {
        order: -1;
    }
    
    .section-about .div-right {
        text-align: center;
    }
    .section-about .div-left h2 {
        text-align: center;
        width: 100%;
        margin: 0;
    }
    
    .section-about .div-right p {
        text-align: justify;
        width: 100%;
        margin: 2rem;
    }


    .section-faq .faq-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-faq .div-left {
        order: -1;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 20px;
        position: static;
    }
    .section-faq .div-left h2,
    .section-faq .div-left p {
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .section-faq .div-left p {
        text-align: justify;
        padding: 2rem;
    }
    .section-faq button {
        width: 90%;
    }
    
    .section-faq .div-right {
        width: 100%;
        text-align: center;
    }
    .section-faq .div-right ul {
        padding: 0;
        margin: 0;
    }
    
    .section-faq .div-right h3 {
        text-align: center;
    }
    
    .section-faq .div-right p {
        text-align: justify;
        margin: 2rem;
    }


    .section-comments .comments-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .section-comments .div-right{
        order: -1;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .comments-right{
        position: static;
    }
    .card-comments {
        width: 100vw;
        box-sizing: border-box;
        margin: 0;
        padding: 1rem;
    }
}

@media (max-width: 425px) {
    .botaoOff {
        display: none;
    }
    .modal {
        max-width: 100vw;
        width: 100vw;
        padding: 2rem;
        box-sizing: border-box;
    }
}